@keyframes sideIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
// 淡入

@keyframes sideOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
// 淡出

.backgroundIn {
  animation: sideIn 0.5s ease-in-out forwards;
}

.backgroundOut {
  animation: sideOut 0.5s ease-in-out forwards;
}